/*
Theme Name: Anna Eliot Ticknor
Theme URI: https://pressbooks.com/themes/pressbooks-book
Description: This theme is named after Anna Eliot Ticknor, who founded the Society for the Encouragement of Home Study. Headings and body type are set in Montserrat.
Tags: Academic, Literary, Nonfiction, Textbook
Author: Multimedia UNED
Author URI: https://multimedia.uned.ac.cr
Version: 1.2.1
License: GPL v3 or later
Template: pressbooks-book
GitHub Theme URI: pressbooks/pressbooks-book
*/

/* This doesn't do anything. */